Repository LydiaGardner/laughing-journey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LydiaGardner, @jeremyharris99, @devenr23, @rbwhitaker

.github/CODEOWNERS:

*	@LydiaGardner
**/*Class*.cs  @jeremyharris99
/LaughingJourney/Projects/LaughingJourney/	@devenr23 @rbwhitaker @jeremyharris99
/LaughingJourney/Projects/Plugins/Core/	@rbwhitaker
/LaughingJourney/Projects/Plugins/Yardshifting/	@devenr23
/LaughingJourney/Projects/Plugins/Landscaping/	@jeremyharris99

Update Class1.cs
  LaughingJourney/Projects/Plugins/Landscaping/ClassLibrary3/Class1.cs
Owners: @jeremyharris99

Update Class1.cs
  LaughingJourney/Projects/Plugins/Mining/ClassLibrary2/Class1.cs
Owners: @jeremyharris99

Update Program.cs
  LaughingJourney/Projects/LaughingJourney/Program.cs
Owners: @devenr23, @rbwhitaker, @jeremyharris99

Update README.md
  README.md
Owners: @LydiaGardner

Update README.md
  README.md
Owners: @LydiaGardner

Create a common/ common/plugins type of setup and update the codeowners file accordingly
  LaughingJourney/.vs/LaughingJourney/DesignTimeBuild/.dtbcache.v2
  LaughingJourney/.vs/LaughingJourney/FileContentIndex/03160c91-a312-40ae-9ae1-cc6ccc375604.vsidx
  LaughingJourney/.vs/LaughingJourney/FileContentIndex/1e02a50d-d94a-468c-9805-8aa44ee5ab6a.vsidx
  LaughingJourney/.vs/LaughingJourney/FileContentIndex/4987bf34-337f-4b89-b62c-e32570f4ff53.vsidx
  LaughingJourney/.vs/LaughingJourney/FileContentIndex/70b5f992-dec0-45db-a67b-bd370b5ccc70.vsidx
  LaughingJourney/.vs/LaughingJourney/FileContentIndex/e4e8456c-0043-41b8-b33b-d47c6a59155f.vsidx
  LaughingJourney/.vs/LaughingJourney/v17/.futdcache.v2
  LaughingJourney/.vs/LaughingJourney/v17/.suo
  LaughingJourney/.vs/LaughingJourney/v17/DocumentLayout.backup.json
  LaughingJourney/.vs/LaughingJourney/v17/DocumentLayout.json
  LaughingJourney/.vs/ProjectEvaluation/laughingjourney.metadata.v9.bin
  LaughingJourney/.vs/ProjectEvaluation/laughingjourney.projects.v9.bin
  LaughingJourney/.vs/ProjectEvaluation/laughingjourney.strings.v9.bin
  Plugins/CryingJourney/readme.md
  Plugins/LaughingJourney/readme.md
  Plugins/LaughingVoyage/LaughingJourney/readme.md
  Plugins/LaughingVoyage/readme.md
Owners: @LydiaGardner
